 /* ---------------------
    work sans google font
-------------------------*/
 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

 /* --------------
    utilities 
-----------------*/

 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 :root {
     --work-font: font-family: 'Work Sans', sans-serif;
     --black: #000;
     --white: #fff;
     --section-bg-color: #FFF4E7;
     --main-color: #FF900E;
     --heading-color: #131313;
     --menu-text-color: #424242;
     --paragraph-color: #727272;
 }

 .body{
    font-family: var(--work-font);
 }
 .container {
    width: 100%;
    max-width: 1200px;
    padding: 0px 2rem;
    margin: 0 auto;
    
 }
 .bg-color {
     background-color: var(--section-bg-color);

 }
 .section-padding{
    padding: 3rem 0;
 }
 .section-margin{
    margin: 120px 0px;
 }

 .section-title{
    font-size: 45px;
    font-weight: 500;
    color: var(--heading-color);

 }

 .text-center{
    text-align: center;
 }

 .paragraph-text{
    margin: 24px 0px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--paragraph-color);
    line-height: 1.6rem;
 }

 .btn-primary{
    background-color: var(--main-color);
    padding: 15px 20px;
    border: 2px solid var(--main-color);
    border-radius: 8px;
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 600;
 }
 .btn-primary:hover{
    border: 2px solid var(--main-color);
    background-color: transparent;
    color: var(--main-color);
    transition: 1s;
 }
 /*--------------------------
  nav area style start here  
 ----------------------------*/


 .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 3.2rem 0;
 }
 .nav > ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 3.4rem;
 }

 .log-area h2{
    font-size: 45px;
    font-weight: 700;
    color: var(--heading-color);
 }

 .nav > ul > li{
    font-size: 1rem;
    font-weight: 500;
    color: var(--menu-text-color);
 }

 /*-------------------------------
  banner section style start here 
  -------------------------------- */

  .banner-text{
    margin:0px 0px 50px 0;
  }

  .banner-text h2{
    font-size: 4rem;
    font-weight: 700;
  }

  .banner-image img{
    width: 100%;
    height: 100%;
  }

/*
----------------------------------
quick list section style start here 
-----------------------------------*/

.quick-lists{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 4.5rem;
}
.quick-lists > div{
    flex: 1;
}

.quick-list-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.quick-list-image img{
    width: 100%;
    height: 100%;
}


/*----------------------------------
 features section style start here
 ----------------------------------- */

 .features{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5rem;

 }
 .features > div{
    flex: 1;
 }

 .features-title{
    border-left: 5px solid var(--main-color);
    padding: 20px;
 }
 .contents .content{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 20px;
    width: 90%;
    padding: 20px 0px 20px 20px;
 }
 .contents .content h4{
    font-size: 20px;
    font-weight: 600;
    color: var(--heading-color);
 }

 .contents .content p{
    margin-top: 8px;
    line-height: 26px;
    font-size: 16px;
    color: var(--paragraph-color);
 }
 .features-images img{
    width: 100%;
    height: 100%;
 }

 .btn-position{
    z-index: 2;
    margin-top: -100px;
    margin-left: -100px;
    
 }
 .btn-position {
    font-size: 25px;
    font-weight: 500px;
    text-align: center;
 }

 .btn-bold{
    font-size: 60px;
    font-weight: 700;
 }

 /* -----------------------------
 Facts section style start here  
 --------------------------------*/

 .facts{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }
 
 .facts .facts-item{
    color: var(--menu-text-color);
    /* background-color: red; */
    border: 2px solid var(--main-color);
    border-radius: 6px;
    text-align: center;
    padding: 15px;
    transition: transform 0.5s;
 }
 .facts .facts-item:hover{    
    border: 2px solid salmon;
    background-color: var(--menu-text-color);
    color: var(--white);
    transform: rotate(360deg) scale(1.5);
 }